.demo{
    color: darkmagenta;
    font-size: xx-large;
    font-family: 'Amita';
    text-align: center;
}
#name{
    margin: 5px 0px;
}
#bookingdate{
    margin: 5px 0px;
}
#bookings{
    margin-left: 35%;
    padding: 10px 90px;
}
#send{
    margin-left: 35%;
    padding: 10px 90px;
}